.section-usefullLinks {
  background-color: #fff;
  padding: 60px 0;
  margin: 80px 0;

  .section-inner {
    position: relative;

    .swiper-wrapper {
      margin-top: 40px;

      .swiper-slide {
        border-right: 1px solid #ddd;
        display: grid;
        place-items: center;
        gap: 20px;
        cursor: pointer;
        padding: 0 40px;
      }
    }

    .custom-navigation {
      position: absolute;
      top: -40px;
      right: 0;

      display: flex;
      align-items: center;
      gap: 20px;

      button {
        background-color: transparent;
        border: none;
        color: $bs-blue;

        cursor: pointer;

        &.swiper-button-disabled {
          opacity: 0.4;
          cursor: not-allowed;
        }
      }
    }
  }
}
