@import "./heade-top";
@import "./header-menu";

header {
  background-color: #fff;
  border-bottom: 1px solid #eee;

  padding: 20px 0;

  .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      display: flex;
      align-items: center;
      gap: 10px;
      flex: 40%;

      color: $bs-blue;
      font-weight: 600;
      font-size: 22px;
      text-transform: uppercase;

      img {
        width: 80px;
        height: 80px;
      }
    }

    .right {
      display: flex;
      justify-content: end;
      gap: 20px;

      font-size: 18px;
      flex: 60%;
      width: 100%;

      

      & > div {
        padding: 20px;

        svg {
          font-size: 30px;
          color: $bs-blue;
        }

        a {
          color: $bg-blue;
        }

        &:first-child {
          border-right: 1px solid #ddd;
        }

        &.phone,
        &.email {
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }
    }
  }

  .header-bar {
    display: none;
  }
}
