.header-top {
  background-color: $bg-blue;
  padding: 20px 0;

  &_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left.menu {
      display: flex;
      align-items: center;
      gap: 15px;

      .menu-item {
        a {
          img {
            width: 24px !important;
            height: 24px !important;
            object-fit: cover;
            border-radius: 50%;
          }
        }
      }
    }

    .right.menu {
      display: flex;
      align-items: center;
      gap: 20px;

      .languages {
        display: flex;
        align-items: center;
        color: #fff !important;

        p {
          display: flex;
          align-items: center;
          margin: 0 10px;
          font-size: 22px;
        }

        .item {
          border-left: 2px solid #ddd;
          padding: 7px 12px;

          &:nth-child(2) {
            border-left: none !important;
          }

          a {
            text-transform: uppercase;
            color: #fff !important;
          }
        }
      }

      .search-btn {
        background-color: transparent;
        border: none;
        font-size: 24px;
        color: #fff;
        display: grid;
        place-items: center;
      }
    }
  }
}
