*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

html,
body {
  font-family: sans-serif;
  scroll-behavior: smooth;
  background-color: #f5f8ff;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 1440px !important;
  width: 100%;
  margin: 0 auto;
}
